awscli>=1.16.0
pandas>=0.23.0
git+https://www.github.com/Sage-Bionetworks/synapsePythonClient.git@v1.9.4-develop
git+https://github.com/veo-ibd/Genie.git@master
git+https://www.github.com/veo-ibd/veoibd-data-submission.git@master
